.titlePage {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 30px;
}
.titleList {
  font-size: 45px;
  /* text-align: center; */
}
.container {
  margin-top: 50px;
  margin-bottom: 50px;
  border: solid 2px #deb192;
  border-radius: 5px;
  padding: 40px;
  background-color: #f0d2ae;
  width: 400px;
}
body {
  background-color: #eddfce;
  width: 100%;
}
.formLogin {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.titleLogin {
  text-align: center;
}
.inputLogin {
  width: 300px;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 10px;
}
.buttonLogin {
  border: none;
  width: 120px;
  padding: 10px 30px;
  border-radius: 7px;
  font-size: 16px;
}
.linkToRegister {
  text-align: center;
  font-size: 15px;
}
.registerLink {
  text-align: center;
}
.buttonOut {
  width: 150px;
  font-size: 20px;
  background-color: #b5675a;
  border: solid 1px #646663;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.buttonOut:hover,
.buttonOut:focus {
  background-color: #b15241;
  border-color: #50544f;
}

.containerNavigation {
  display: flex;

  gap: 150px;
}
.containerSign {
  display: flex;
  gap: 40px;
}
.link {
  text-decoration: none;
  color: #50544f;
  font-size: 25px;
}
