.titlePage {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 30px;
}
.titleList {
  font-size: 45px;
  /* text-align: center; */
}
.container {
  margin-top: 50px;
  margin-bottom: 50px;
  border: solid 2px #deb192;
  border-radius: 5px;
  padding: 40px;
  background-color: #f0d2ae;
  width: 400px;
}
body {
  background-color: #eddfce;
  width: 100%;
}
.formLogin {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.titleLogin {
  text-align: center;
}
.inputLogin {
  width: 300px;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 10px;
}
.buttonLogin {
  border: none;
  width: 120px;
  padding: 10px 30px;
  border-radius: 7px;
  font-size: 16px;
}
.linkToRegister {
  text-align: center;
  font-size: 15px;
}
.registerLink {
  text-align: center;
}
